<fieldset>
  <legend> Alteração de senha </legend>
  <%= form_for @usuario, :url => senha_reset_path(params[:id]) do |f| %>
      <div class="form-group">
        <%= f.label :senha, "Digite uma senha" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :senha_confirmation, "Confirme a senha" %>
        <%= f.password_field :password_confirmation, clsss:'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar", class: 'btn btn-primary active' %>
      </div>
  <% end %>
</fieldset>